# Database Configuration
DB_HOST=jupiter.rihal.dev
DB_PORT=5454
DB_USER=postgres
DB_PASSWORD=f974hf348gf3478f437fh3f43
DB_NAME=postgres
DB_SSLMODE=disable

# Server Configuration
PORT=8080
APP_ENV=development

# Keycloak Authentication
KEYCLOAK_URL=https://keycloak-02.rihal.tech
KEYCLOAK_REALM=apps
KEYCLOAK_CLIENT_ID=jw-app
KEYCLOAK_CLIENT_SECRET=Ou2YGQbmyX8gIca6av4N9voTLTJcOf1i
KEYCLOAK_TOKEN_URL=https://keycloak-02.rihal.tech/auth/realms/apps/protocol/openid-connect/token

# JWT Configuration
JWT_SECRET=your-secret-key-change-this-in-production
